@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;1,100&display=swap');

:root {	
	--nord0: #2e3440;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;
	--nord7: #8fbcbb;
	--nord8: #88c0d0;
	--nord9: #81a1c1;
	--nord10: #5e81ac;
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;
	--nord15: #b48ead;
	font-size: 16px;
}

body {
	background-color: var(--nord0);
	color: var(--nord13);
	font-family: 'JetBrains Mono', monospace;
	font-size: 32px;
	margin: 0px;
	--padding: 2.5rem;
	padding: var(--padding);
	width: calc(100vw - 2*var(--padding));
	height: calc(100vh - 2*var(--padding));
	overflow: hidden;	
}

#title {
	display: inline;
	margin-left: 0.5rem;
}

#main {
	background-color: var(--nord1);
	width: 100%;
	height: calc(100%);
	border-radius: 1rem;
	border-color: var(--nord1);
}

#mod-list {
	margin: auto;
	width: 90%;
	height: calc(90% - 1em - 0.5rem);
	display:block;
	overflow-y: scroll;
}
#mod-list::-webkit-scrollbar {
	width: 5px;
}
#mod-list::-webkit-scrollbar-track {
	color: var(--nord2);
	border-radius: 0.5rem;
}
#mod-list::-webkit-scrollbar-thumb {
	background-color: var(--nord13);
	border-radius: 0.5rem;
}

.mod-entry {
	background-color: var(--nord2);
	box-shadow: 0 0 0 3px var(--nord3);
	border-radius: 5px;
	height: calc(13vh);
	margin: 1rem;
	display: grid;
	grid-template-columns: auto auto auto 10rem;
	position: relative;
}

.mod-entry .download-button {
	background-color: var(--nord3);
	box-shadow: 0 0 0 2px var(--nord8);
	border-radius: 5px;
	grid-column: 4;
	width: 8rem;
	height: 2rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
}
.download-text {
	display: table;
	margin: 0 auto;
	font-weight: 700;
	font-size: 1.5rem;
}
.mod-title {
	grid-column: 2;
	display: flex;
	align-items: center;	
	margin-left: 2rem;
	height: 100%;
}
.mod-icon-container {
	grid-column: 1;
	position: absolute;
	top: 50%;


	--size: 13vh;
	--gap: 0.3rem;
	width: calc(var(--size) - var(--gap));
	height: calc(var(--size) - var(--gap));
	margin-top: calc(( var(--size) - var(--gap)) * -0.5);
}
.mod-icon {
	width: calc(var(--size) - var(--gap));
	height: calc(var(--size) - var(--gap));
}
